# Custom Ignores #
##################
node_modules
node_modules/*
.vscode
.vscode/*
shaman-website-compiler-*.tgz
dist/**/*.spec.js 
dist/**/*.spec.js.map
.coveralls.yml
coverage/
coverage/*
scripts/debug.js
sample/dist
sample/dist/*